joining string means combining two or more string into one

In [3]:
first_name="ibrar"
mid_name="muhmmad"
last_name="awan"
full_name=first_name+" "+mid_name+" "+last_name
print(full_name)

ibrar muhmmad awan

repeating astring means multiplying a string to repeat it multiple times

In [4]:
laugh="ha"
laughing="he"
print(laugh*5)
print(laughing*8)

hahahahaha
hehehehehehehehe

string length means counting the number of characters in a string including space and punctation

In [1]:
word="hello!"
word2="sports games"
print(len(word))
print(len(word2))

6
12

pick a letter by its spots:means aget a letter by its number in the word

In [3]:
greeting="hello"
print(greeting[2])
print(greeting[-5])

l
h

Slicing strat is included but end is not included

In [7]:
text="beginner"
slice1=text[0:3]
print(slice1)
sports2="football"
print(sports2[0:4])

beg
foot

change letter case in python we can change the case of letter using simple string method

In [8]:
name="musa ibrar awan "
print(name.upper())
print(name.lower())
print(name.capitalize())
print(name.swapcase())

MUSA IBRAR AWAN
musa ibrar awan
Musa ibrar awan
MUSA IBRAR AWAN

addition

In [2]:
a=10
b=3
result=a+b
print(f"{a} + {b}= {result}")

10 + 3= 13

subtraction

In [4]:
a=10
b=3
result=a-b
print(f"{a} - {b} = {result}")

10 - 3 = 7

MULTIPLICATION

In [5]:
a=10
b=3
result=a*b
print(f"{a} * {b} = {result}")

10 * 3 = 30

DIVISION

In [6]:
a= 10
b= 3
result= a / b
print(f"{a} / {b} = {result}")

10 / 3 = 3.3333333333333335

FLOOR DIVISION // RESULT TO THE NEARSET WHOLE NUMBER

In [8]:
a= 10
b= 3
result= a // b
print(f"{a} // {b} = {result}")

10 // 3 = 3

EXPONENT(POWER)

In [1]:
a= 2
b= 3
result= a ** b
print(f"{a} ** {b} = {result}")

2 ** 3 = 8

PERCENTAGE

In [4]:
a= 50
b= 3
result= a % b 
print(f"{a} % {b} = {result}")

50 % 3 = 2

if...elif...else

In [ ]:
age=10

if age >= 10:
   #  print("yor are an adult")
    print("age is greater than 10 or equal to 10")

yor are an adult

In [2]:
age = 18
if age >= 16:
    print("you are young man")
    print("you are not teenager")

you are young man
you are not teenager

In [3]:
marks = 65
if marks >= 90:
    print("grade: A")
elif marks >= 80:
    print("grade: B")
elif marks >= 70:
    print("grade: c")
elif marks >= 60:
    print("grade: D")
else:
    print("grade: f (fail)")

grade: D

LOOP IS REPEAT CODE MULTIPLE TIMES 
THREE TYPES OF LOOP #FOOR LOOP(specific number )
WHILE LOOP(as long as condition is true )
NEASTED LOOP

In [4]:
for i in range(1, 6):
    print(i)

1
2
3
4
5

while loop repeats a block of code as long as condition is true

In [5]:
i=1
while i <= 5:
    print(i)
    i += 1

1
2
3
4
5

nested loops: a loop inside another loop

In [ ]:
for i in range(3):
    for j in range(3):
        print("*", end=" ")
        print()

*
*
*
*
*
*
*
*
*

In [8]:
for i in range(1, 4):
    for j in range(1, 6):
        print(i + j, end=" ")
        print()

2
3
4
5
6
3
4
5
6
7
4
5
6
7
8

function

In [9]:
def greet_user(name):
    print(f"hello, {name}! nice to meet you.")
greet_user("ali")

hello, ali! nice to meet you.

In [10]:
def multiply(a,b):
    return a * b
result = multiply(5, 3)
print(result)

15

MODULE IS A FILE CONTAINING PYTHON CODE YOU CAN IMPORT AND REUSE IN OTHER PYTHON FILE

In [1]:
# example create a new file 
import os
folder_name = "musaphotos"
os.mkdir(folder_name)
print(f"folder {folder_name} has been created")

folder musaphotos has been created

In [2]:
# check current working directory
current_directory = os.getcwd()
print("current working directory:", current_directory)

current working directory: c:\Users\khama\OneDrive\Desktop\musa

math module

In [ ]:
#squre root 
import math
number = 49
root = math.sqrt(number)
print(f"the qquare root of {number} is: {root}")

the qquare root of 49 is: 7.0

In [ ]:
# example of cricle 
import math
radius = 7
area = math.pi * radius**2
print(f"the area of circle with radius {radius} is: {area}")